:root{
    --primary:#d7f576 ;
    --bg: #aabf5a;

}

* {
   
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;

}

body {
    font-family: 'poppins',sans-serif;
    background-color: var(--bg);
    color: aliceblue;
    margin: 0;
    min-height: 100vh;
  
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 7%;
    background-color: rgba(79, 80, 23, 0.8);
    border-bottom: 1px solid #435115;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}


.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #f4f6ef;
    font-style: italic;
}
.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #f4f6ef;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
    font-weight: bold;
    text-decoration: none;
}
.navbar .navbar-nav a:hover {
    color: var(--primary);
}
.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #f4f6ef;
    margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
     color: var(--primary)
}

#hamburger-menu {
    display: none;

}

/* Hero Section */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/pisangijo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    position: relative;
   
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 45rem;

}


.hero .content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
    margin-top:30px;

}
.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
   
    

}

.hero .content .cta {
    margin-top: 1.5rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color:#95ac47;
    border-radius: 0.7rem;
    box-shadow: 0.4px 10px rgba(0,0,0,0.3);
    transition: 0.3s;
    z-index: 1000;
}

.hero .content .cta:hover{
    transform: translate(5px, 5px);
}

/* about */

.tes {
    display: flex;
    gap: 3rem;
    padding: 3rem ;
    align-items: center;
    padding: 8rem 7% 1.4rem;
}
/* mengatur gambar */
.item {
    text-align: center;
    max-width: 400px;
    width: 100%; 
}
.item img {
    width:  100%;
    max-width: 300px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    margin: auto;
    height: auto;
}
.content-text h3 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.content-text p {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    font-weight: 100;
    line-height: 1.6;
}
/* Abouit style Start */
.about-logo {

    display: flex;
    flex-direction: column;
}
.about-img img {
    opacity: 0;
    transform: scale(0.5);
    animation: zoomIn 1s forwards;
}

@keyframes zoomIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.about {
    padding: 8rem 7% 1.4rem;
}
.about h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;

}
.about h2 span, 
.menu h1 span {
    color: var(--primary);
}
.about .row {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.about .row .about-img {
    flex: 1 1 20rem;
    
}
.about .row .about-img img {
    width:  400px;
    height: 300px;
    object-fit: cover;
    border-radius: 20%;
}


.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;

    /*  animasi */
    opacity: 0;
    transform: translateX(50px);
    animation: slideText 1s forwards;
    animation-delay: 0.3s;
}

@keyframes slideText {
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.about .row .content h3 {
    font-size:  2.0rem;
    margin-bottom: 1rem;
}
.about .row .content p {
    margin-bottom: 0.0;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
}




/* MENU */
.menu {
    padding: 9rem 7% 3rem;
    text-align: center;
    min-height: 100vh ;
}


.menu h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* container */
.menu-container {
    display: flex;
    justify-content:center;
    gap: 2rem;
    flex-wrap: wrap;
}

/* card */
.menu-card {
    background: white;
    color: black;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
    

}


/* efek hover */
.menu-card:hover {
    transform: scale(1.05);
}

/* gambar */
.menu-card img {
    width: 100%;
    height: 300x;
    object-fit: cover;
    display: block;
    margin-bottom: 1rem;
}

/* teks */
.menu-card h3 {
    margin-bottom: 0.5rem;
}

/* deskripsi menu */
.menu-card .desc {
    font-size: 0.9rem;   
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

.menu-card .price {
    font-weight: bold;
}

.menu-card p {
    font-size: 0.9rem;
    padding: 0 1rem 1rem;
}

/* menu section */  
.menu h1 {
    margin-bottom: 0.5%;
}
.menu p  {
    text-align: center;
    max-width: 600px;
    margin: auto ;
    font-weight: 600;
    line-height: 1.6;
    margin: 1rem auto 3rem;
}

.menu .row {
    display: flex;
    flex-wrap:wrap;
    margin-top: 5rem;
    justify-content: left;

}


/* footer */
.footer {
    background-color: rgba(79, 80, 23, 0.9);
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 0;
}

.footer p {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}

/* media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px){

    html {
        font-size: 62.5%;
    }
    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #f0f9be;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.3);
    }
    .tes {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }
    .item {
        max-width: none;
        width: 100%;
    }
    .item img {
        width: 100%;
        max-width: 280px;
        height: auto;
        display: block;
        margin: auto;
    }
    .content-text {
        max-width: 320px;
        margin: auto;
    }
    .content-text p {
        font-size: 1.2rem;
        line-height: 1.8;
    }
    .about .row {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 2rem;
    }
    .about .row .about-img img {
        width: 100%;
        max-width: 280px;
        height: auto;
        margin: auto;
    }
    .about .row .content {
        max-width: 320px;
        margin: auto;
        padding: 0;
        text-align: center;
        
        
    }
    .about .row .content p {
        line-height: 1.6;
    }    
    

}



/* Mobile phone */
@media (max-width: 450px) {
    html {
        font-size:55%
    }
   .content-text h3 {
    font-size: 1.5rem;
   }
   .content-text p {
    font-size: 1.1rem;
   }
        
    .about h2 {
        font-size: 2rem;
    }
    .about .row .content h3 {
        font-size: 1.5rem;
    }
    .about .row .content p {
        font-size: 1rem;
        align-self: center;
    }
    .about .row .content{
        padding: 0;
        flex: 0;
        align-items: center;
        justify-content: center;
    }
    .item img {
        max-width: 240px;
    }
    .content-text {
        width: 100%;
        max-width: 320px;
        margin: auto;
        text-align: center;
    }
    .tes {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .item {
        width: 100%;
    }
    .item img {
        width: 100%;
        max-width: 280px;
    }
}



/* CONTACT */
.contact {
    padding: 8rem 7% 3rem;
    min-height: 100vh;
}

.contact h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.contact h2 span {
    color: var(--primary);
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-card {
    width: 320px;
    height: 220px;

    background: rgba(79, 80, 23, 0.9);
    color: white;

    border-radius: 20px;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 10px 20px rgba(0,0,0,0.25);

    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}

.contact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 35px rgba(0,0,0,0.35);
}

.contact-card svg {
    width: 50px;
    height: 50px;
    color: #f0f9be;
    margin-bottom: 1rem;
}

.contact-card h3 {
    margin-bottom: .5rem;
}

.contact-card p {
    color: white;
    font-size: .9rem;
}